parameters:
    database_driver   : pdo_sqlite
    database_host     : 127.0.0.1
    database_port     : ~
    database_name     : ourss
    database_user     : ourss
    database_password : ~

    locale            : en
    secret            : ThisTokenIsNotSoSecretChangeIt